$OuterSpace: #373c3f;
$Whitecolor: white;
$Gallery: #ebebeb;
$EasternBlue: #10a8bd;
$MorningGlory: #a6d5df;
$BalticSea: #27212c;
$MediumRedViolet: #bc3183;
$Mamba: #9282a0;
$BlueGem: #5b0fa1;
$Emperor: #515151;
$PurpleHeart: #991add;
$BilobaFlower: #b4b5e9;
$Mortar: #504658;
$Shark: #202529;
$LavenderMagenta: #ee56e0;
$Mandy: #DF4F57;